@section scripts{
    @Scripts.Render("~/Scripts/HorasProjeto/ReportHorasCompacto.js")
}


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@Html.Hidden("BuscaClienteFinalURL", Url.Action("ListaClienteFinal", "Admin"))
@Html.Hidden("BuscaProdutoClienteURL", Url.Action("ListaProdutoCliente", "Admin"))
@Html.Hidden("BuscaProjetoProdutoURL", Url.Action("ListaProjetoPorProduto", "Admin"))
@Html.Hidden("BuscaTabelaHorasCompactoURL", Url.Action("TabelaHorasCompacto", "HorasProjeto"))
@Html.Hidden("BuscaDashBoardHorasCompactoURL", Url.Action("DashBoardHorasCompacto", "HorasProjeto"))
@Html.Hidden("BuscaDashBoardHorasCompactoTimeLineURL", Url.Action("DashBoardHorasTimeLine", "HorasProjeto"))
@Html.Hidden("idUsuario", @HttpContext.Current.Session["IDUSUARIO"].ToString())
<div class="wait alert-success">AGUARDE UM INSTANTE</div>
<div class="error alert-danger"></div>

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="col-sm-3">
                <div class="box-sm-c " style="margin-bottom: 20px; height: 400px">
                    <h4 class="example-title">Filtros</h4>
                    <table style="border-width: 0px; width: 100%;">

                        <tr>
                            <td style="width: 25%"> Cliente:</td>
                            <td><select id="cbxClienteFinal" name="cbxClienteFinal" class="form-control" onchange="CarregaComboProdutosCliente()"></select></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 25%"> Produto:</td>
                            <td><select id="cbxProduto" name="cbxProduto" class="form-control" onchange="CarregaComboProjetoProduto()"></select></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 25%"> Projeto:</td>
                            <td><select id="cbxProjeto" name="cbxProjeto" class="form-control"></select></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 25%"> Data Inicio:</td>
                            <td><input type="date" id="DtInicio" name="DtInicio" placeholder="Inicio" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%">Data Final:</td>
                            <td><input type="date" id="DtFim" name="DtFim" placeholder="Fim" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button onclick="atualizaFiltros();" class="input form-control btn btn-danger">Aplicar Filtro</button></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="box-sm-c" style="margin-bottom: 20px; height: 400px">
                        <h4 class="example-title">Tempo por Recurso</h4>
                        <div id="ChartHorasCompacto" style="height: 350px; width: 100%;"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box-sm-c" style="margin-bottom: 20px; height: 400px">
                        <h4 class="example-title">Tempo por Dia</h4>
                        <div id="CharTimeLine" style="height: 350px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <h4 class="example-title">Descrição dos Itens</h4>
            <table class="table-internal" style="margin-top:15px;" id="tblDescricaoItens">
                <thead>
                    <tr class="tr-head">
                        <th>
                            Nome
                        </th>
                        <th>
                            Tempo(m)
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
