<!DOCTYPE html>
<html ng-app="checkin">
@Html.Hidden("BuscaTelaURL", Url.Action("BuscaTelas", "Usuario"))
@Html.Hidden("LogoutUsuarioURL", Url.Action("Logout", "Usuario"))
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Indigo - ADMIN</title>
    <link id="favicon" href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/check-theme.css">
    <link href="~/Styles/dataTables.jqueryui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/layout.css">
    <link rel="stylesheet" href="~/Content/user-info.css">
    <link rel="stylesheet" href="~/Styles/spinner.css">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/home/Template.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/MaskMoney.js")
    @Scripts.Render("~/Scripts/jQuery.mask.js")
    @Scripts.Render("~/Scripts/Home/Layout.js")
    @Scripts.Render("~/Scripts/HorasProjeto/HorasProjeto.js")
    <script src="~/Scripts/datatable.js"></script>
    <script src="~/Scripts/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/Sessao.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/directives/Directives.js"></script>
    <script src="~/Scripts/controllers/main-controller.js"></script>
    <script src="~/Scripts/controllers/horas-controller.js"></script>
    <script src="~/Scripts/controllers/outliers-controller.js"></script>
    <script src="~/Scripts/controllers/relatorio-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/equipe-main-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/equipe-horas-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/equipe-outliers-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/equipe-relatorio-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/cliente-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/produto-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/projeto-controller.js"></script>
    <script src="~/Scripts/controllers/HorasEquipes/teste-estrutura.js"></script>
    @RenderSection("scripts", required: false)
    <style>
        .alert-message {
            color: #fff;
            background-color: #F44336;
            text-align: center;
            padding: 1em;
            border-radius: .3em;
            border: 2px solid rgba(0,0,0,.1);
        }

        .bg-white {
            background-color: #fff;
            padding: 1em;
            margin-bottom: .5em !important;
            box-shadow: 0 0 2px rgba(0,0,0,.4);
        }

        .table-internal tr {
            border-bottom: 1px solid #000;
        }
    </style>
</head>
<body>
    <!--Hidden URL to get the password's reset link-->
    @Html.Hidden("ResetarSenhaUsuarioURL", Url.Action("ResetarSenhaUsuario", "Usuario"))
    <!--Hidden urls 4 search-->
    @Html.Hidden("BuscaClienteFinalURL", Url.Action("ListaClienteFinal", "Admin"))
    @Html.Hidden("BuscaProdutoClienteURL", Url.Action("ListaProdutoCliente", "Admin"))
    @Html.Hidden("BuscaProjetoProdutoURL", Url.Action("ListaProjetoPorProduto", "Admin"))
    @Html.Hidden("BuscaHorasProjetoURL", Url.Action("ListaHorasProjetosUsuario", "HorasProjeto"))
    @Html.Hidden("BuscaHorasProjetoAtalhoURL", Url.Action("ListaHorasProjetosUsuarioAtalho", "HorasProjeto"))
    @Html.Hidden("MantemHorasProjetoUrl", Url.Action("MantemHoraProjeto", "HorasProjeto"))
    @Html.Hidden("MantemHorasProjetoAtalhoUrl", Url.Action("MantemHoraProjetoAtalho", "HorasProjeto"))
    @Html.Hidden("IniciaHorasProjetosUsuarioAtalhoUrl", Url.Action("IniciaHorasProjetosUsuarioAtalho", "HorasProjeto"))
    @Html.Hidden("JustificaPontoUrl", Url.Action("JustificaPonto", "HorasProjeto"))
    @Html.Hidden("AlmocoHoraProjetoUrl", Url.Action("AlmocoHoraProjeto", "HorasProjeto"))
    @Html.Hidden("FiltrarHoraProjetoUrl", Url.Action("FiltrarHoraProjeto", "HorasProjeto"))
    @Html.Hidden("FiltrarHoraProjetoJustUrl", Url.Action("FiltrarHoraProjetoJust", "HorasProjeto"))
    @Html.Hidden("BuscaTipoJustificativaURL", Url.Action("BuscaTipoJustificativa", "HorasProjeto"))
    @Html.Hidden("VerificaJustUsuarioURL", Url.Action("VerificaJustUsuario", "HorasProjeto"))
    @Html.Hidden("FechaHorarioUrl", Url.Action("FechaHorario", "HorasProjeto"))
    @Html.Hidden("BuscaFaseProjetoURL", Url.Action("ListaFaseProjeto", "Admin"))
    @Html.Hidden("BuscaSubFaseProjetoURL", Url.Action("ListaSubFaseProjeto", "Admin"))
    @Html.Hidden("LogoutUsuarioURL", Url.Action("Logout", "Usuario"))
    @Html.Hidden("idHorasProjeto", 0)
    <!--End of hidden url 4 search-->
    <!--End of hidden URL-->
    <!--Barra superior-->
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">IndigoSoft</a>
        <!--Btn options Almoço/Nova Tarefa-->
        <div style="text-align: left; width: 100%; padding: 0 1em;">
          <input type="button" value="Almoço" id="AlmocoRetorno" class="btn btn-default active" onclick="IniciarAlmoco(null)" title="Entrar em almoço ou retomar a última atividade">
          <input type="button" value="Nova atividade" id="NovaAtividade" class="btn btn-primary active" onclick="IniciarAlmoco('finaliza');" title="Realizar nova atividade">
          <input type="button" value="Justificar" id="Justificar" class="btn btn-primary active" onclick="MostrarJustificarHora();" title="Justificar ausência de horas de projeto">
          <input type="button" value="Checkout" id="Checkout" class="btn btn-warning active" onclick="Sair();" title="Checkout de atividade e encerrar sessão">
          <!--<button type="button" class="btn-menu-main" onclick="showMenu()"><i data-feather="menu"></i></button>-->
        </div>        
        <!--<button class='btn-out' onclick="Template.Close()" data-toggle="modal" data-target="#loadLeave"><i data-feather="log-out"></i></button>-->
        <!--End of Btn options Almoço/Nova Tarefa-->
    </nav>
    <!--Fim da barra superior-->
    <!--Menu And main content-->
    <div class="container-fluid">
        <div class="row">
            <!--Menu-->
            <nav class="col-md-2 col-lg-2 d-none d-md-block bg-light sidebar hide">
                <div class="sidebar-sticky">
                    <!--User info area-->
                    <div class="user">
                        <div>
                            <img src='/Images/user.png' alt="Avatar Usuário" class="user-info-image" onerror="this.src='../Images/user.png'">
                        </div>
                        <div class="user-info">
                            <p class="user-name">@HttpContext.Current.Session["USUARIO"].ToString()</p>
                            <div class="btn-group">
                                <button type="button" class="user-options-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opções
                                </button>
                                <div class="dropdown-menu">
                                    <p id="alterars" class="passwordChange password-change-link dropdown-item">Alterar senha</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of user info Area-->
                    <ul class="nav flex-column menu-container pb-1">
                        <!--Menu Goes Here-->
                    </ul>
                </div>
            </nav>
            <!--Main Content-->
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-5 pb-5 mt-5 mb-5 main">
                <div class="text-center col-lg-12 bg-white">
                  <h3 id="status" class="status">Carregando...</h3>
                </div>
                @RenderBody()
                <!--Modal Area-->
                <div class="modal-container">
                    <!--Modal Content Goes Here-->
                </div>
                <!-- Leave Modal -->
                <div class="modal fade" id="loadLeave" tabindex="-1" role="dialog" aria-labelledby="loadLeave" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loadLeavelLabel">Saindo...</h5>
                            </div>
                            <div class="modal-body">
                                <div class="loader loader-menu loader-black"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of leave modal -->
                <!--End of modal Area-->
            </main>
        </div>
    </div>
    <!--End of menu and main content-->
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>      
      feather.replace();
      Sessao();
      //Não excluir, usado para busca na página de relatórios individuais
      localStorage.setItem('idSearch', '@HttpContext.Current.Session["IDUSUARIO"].ToString()');
      localStorage.setItem('imgPerfil', '@HttpContext.Current.Session["IMGUSUARIO"].ToString()');
      localStorage.setItem('perfil', '@HttpContext.Current.Session["PERFIL"].ToString()');
      //Instancia o menu
      Template.Menu(@HttpContext.Current.Session["IDUSUARIO"].ToString());
      //Get the user image
      Template.ImgUser();
      //Modal Change password behavior definition
      document.querySelector('#alterars').addEventListener('click', e => {
        Template.ChangePassword();
        AlterarSenha();
      });

      function showMenu() {
        let menu = document.querySelector('.sidebar');
        if(menu.classList.contains('hide')) {
          menu.classList.remove('hide');
          menu.classList.add('show');
        } else {
          menu.classList.remove('show');
          menu.classList.add('hide');
        }
      }
    </script>
</body>
</html>
